{% extends "base.html" %}
{% block content %}
    <h1>Mymdb Home</h1>
    <form action="" method="get">
        <div>
          <label for="search">Enter film id: </label>
          <input type="text" name="search" id="search" required>
        </div>
        <div>
          <input type="submit" value="Ok!">
        </div>
        <div>
            <ul>
                {% for result in results %}
                <li><a href="/titles/{{result['id']}}">{{result['primary_title']}} ({{result['start_year']}})</a></li>
                {% endfor %}
            </ul>
          </div>
      </form>
      
{% endblock %}